<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>58B0E672-933D-4D58-B56B-5571B79CBEA4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFA2E656-7C88-40FF-82A8-40CDBB2D7546</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71A0EF86-42D5-4C0A-8656-CB6FEAD6F857</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58B0E672-933D-4D58-B56B-5571B79CBEA4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andy K</string>
	<key>description</key>
	<string>Pastes images from your clipboard history</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ClipPaster</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>yagabink2.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>58B0E672-933D-4D58-B56B-5571B79CBEA4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ps</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching clipboard items</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>cs.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Paste images from clipboard history</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>71A0EF86-42D5-4C0A-8656-CB6FEAD6F857</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {variables}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>BFA2E656-7C88-40FF-82A8-40CDBB2D7546</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># ClipPaster

This workflow is triggered with the `ps` keyword by default.

## Download:
https://github.com/kongmunist/alfred_clippaster_workflow
Most code derived from
https://github.com/luckman212/alfred_clipsaver_workflow/releases/latest/</string>
	<key>uidata</key>
	<dict>
		<key>58B0E672-933D-4D58-B56B-5571B79CBEA4</key>
		<dict>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>71A0EF86-42D5-4C0A-8656-CB6FEAD6F857</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>BFA2E656-7C88-40FF-82A8-40CDBB2D7546</key>
		<dict>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>~/Desktop/saved_clips</string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Folder in which to save converted images</string>
			<key>label</key>
			<string>Destination</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>dest_dir</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>png</string>
				<key>pairs</key>
				<array>
					<array>
						<string>PNG</string>
						<string>png</string>
					</array>
					<array>
						<string>JPG</string>
						<string>jpg</string>
					</array>
					<array>
						<string>GIF</string>
						<string>gif</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Default image format to convert to</string>
			<key>label</key>
			<string>Default format</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>default_format</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Delete source images after conversion</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>delete_after_convert</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Save images to current Finder window</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>save_to_current</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>unlimited</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Enter an integer to limit # of results returned from the database</string>
			<key>label</key>
			<string>Limit</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>sf_clip_limit</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>~/Library/Application Support/Alfred/Databases</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Path to clipboard database</string>
			<key>label</key>
			<string>Database path</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>db_path</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>clipboard.alfdb</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Filename of clipboard history database</string>
			<key>label</key>
			<string>Database filename</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>db_name</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/kongmunist/alfred_clippaster_workflow</string>
</dict>
</plist>
